/** {
    box-sizing: border-box;
}; */

header a {
    position: fixed;
    left:0%;
}

header div {
    position: fixed;
    right: 10%;
}

.hide {
    display: none;
}

.choices button {
    border: 5px;
    padding: 10px;
    display: block;
    margin: 5px;
    
}

.choices button:hover {
    border-color:black;
}

#submitForm {
    display:flex;
    justify-content:center;

}



.card {
    position: fixed;
    left: 50%;
    top: 50%;
    border: 2px;
    margin: 10px;
    border-radius:10px;
    border-color: black;
    border-style:solid;
    padding: 50px;
    transform: translate(-50%, -50%);
    
};





/* Mark cards as display:none, and will only be displayed IN ORDER once the appropriate button is clicked. Then, all other cards are hidden*/

/* section {
    display: none;
} */



