/** {
    box-sizing: border-box;
}; */

h1 {
    font-size: 50px;
    color: green;
}

.card {
    position: fixed;
    left: 50%;
    top: 50%;
    border: 2px;
    margin: 10px;
    border-radius:10px;
    border-color: black;
    border-style:solid;
    padding: 50px;
    transform: translate(-50%, -50%);
    
};



/* Mark cards as display:none, and will only be displayed IN ORDER once the appropriate button is clicked. Then, all other cards are hidden*/

/* section {
    display: none;
} */



